<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Wherostr</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>wherostr_social</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FlutterDeepLinkingEnabled</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>river</string>
			<string>bitcoinbeach</string>
			<string>breez</string>
			<string>muun</string>
			<string>zeusln</string>
			<string>zebedee</string>
			<string>lightning</string>
			<string>phoenix</string>
			<string>lnlink</string>
			<string>strike</string>
			<string>bluewallet</string>
			<string>walletofsatoshi</string>
			<string>blixtwallet</string>
			<string>lifpay</string>
			<string>comgooglemaps</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Wherostr requires access to your photo library to save images.</string>
		<key>NSCameraUsageDescription</key>
		<string>Wherostr requires access to your camera so you can take photos and share them with people, scan QR codes.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Wherostr requires access to your location so that you can share it with others.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Wherostr requires access to your location so that you can share it with others.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Wherostr requires access to your location so that you can share it with others.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Wherostr requires access to your photos so you can share them with people.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
